body,
h1,
h4,
h3,
label{
  color: white;
  background-color:black;
  text-align:center;
}


#header,
#footer{
  padding: 30px;
}

button{
  text-decoration: underline;
}

span.digit{
  font-weight: 700;
  font-size: 2em;
  padding: 0px 20px;
}

div.postfix{
  font-size: 2em;
}
